<mat-card class="mb-3 mat-typography">
  <mat-card-content>
    <h2>Contributors</h2>
    <ng-container *ngIf="app.contributors; else: loader">
      <img
        [matTooltip]="user.name"
        *ngFor="let user of app.contributors"
        [src]="user.avatar_urls['48']"
        alt=""
        [routerLink]="['/profile', user.id]"
        class="ml-2 mt-2"
      />
    </ng-container>
  </mat-card-content>
</mat-card>

<!-- Spinner -->
<ng-template #loader> <mat-spinner class="m-auto"></mat-spinner> </ng-template>
