<mat-card class="mb-3 mat-typography">
  <mat-card-content>
    <h2>Contributors</h2>
    <loader-component *ngIf="!app.contributors" text="Loading Contributors..."></loader-component>
    <ng-container *ngIf="app.contributors">
      <img
        [matTooltip]="user.name"
        *ngFor="let user of app.contributors"
        [src]="user.avatar_urls['48']"
        alt=""
        [routerLink]="['/profile', user.id]"
        class="ml-2 mt-2"
      />
    </ng-container>
  </mat-card-content>
</mat-card>
