<mat-list *ngIf="postID">
  <mat-list-item *ngFor="let comment of app.comments; index as i" id="comment-list" class="h-auto">
    <img matListAvatar [src]="comment.author_avatar_urls['96']" alt="">
    <mat-card matline class="ml-3">
      <mat-card-subtitle> {{ comment.author_name }} Date: {{ comment.date | date:'medium' }} </mat-card-subtitle>
      <mat-card-content *ngIf="comment.id !== commentID" [innerHTML]="comment.content.rendered">
      </mat-card-content>

      <form *ngIf="showEditComment && comment.id === commentID" (ngSubmit)="onUpdateComment(updateComment, i)"
        #updateComment="ngForm" matLine>
        <mat-form-field appearance="outline" id="commentBox">
          <input matInput type="text" name="content" [(ngModel)]="app.comments[i].content.rendered.split('<')[1].split('>')[1]">
          <button matSuffix mat-icon-button type="submit">
            <mat-icon> send </mat-icon>
          </button>
        </mat-form-field>
      </form>

      <mat-card-actions class="m-0">
        <!-- <a mat-button disableRipple (click)="loadComments(comment.id)" class="p-0 m-0"> Replies </a> -->
        <a mat-button disableRipple *ngIf="comment.author === app.wp.getID" (click)="showEditComment = !showEditComment && commentID === null?  commentID = comment.id : commentID = null">
          Edit </a>
        <a mat-button disableRipple *ngIf="comment.author === app.wp.getID" (click)="onDeleteComment(comment.id, i)">
          Delete
        </a>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </mat-list-item>
</mat-list>
