#comment-list {
  .mat-list-item-content {
    margin-bottom: 1em;
    height: auto;
    align-items: flex-start;
  }
  .del-btn > mat-icon {
    margin-left: 1em;
    width: 1em;
    height: 1em;
    cursor: pointer;
  }
}

mat-card {
  display: flex;
  flex-direction: row;
}
