<header class="container mt-3 mat-typography">
  <h1> {{ category | uppercase }} </h1>
</header>

<main class="container">
  <div class="row ">

    <div class="col-md-8">
      <!-- Quick Post -->
      <app-quick-post *ngIf="app.isLoggedIn"></app-quick-post>
      <!-- 10 Recent Post  -->
      <app-post-list *ngIf="app.posts; else loader"></app-post-list>
    </div>

    <div class="d-none d-md-block col-md-4">
      <!-- Contributors -->
      <app-contributor></app-contributor>
    </div>

  </div>
</main>

<!-- Spinner -->
<ng-template #loader>
  <mat-spinner class="m-auto"></mat-spinner>
</ng-template>
