<mat-card class="mb-3 mat-typography">

  <mat-card-header>
    <mat-card-title>Edit Post</mat-card-title>
  </mat-card-header>
  <hr>

  <mat-card-content class="pt-3">
    <form (ngSubmit)="onUpdatePost(updatePost)" #updatePost="ngForm">

      <mat-form-field appearance="outline">
        <mat-label> Title </mat-label>
        <input matInput type="text" name="title" [(ngModel)]="editPost.title.rendered" placeholder="Title">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <textarea matInput name="content" rows="10" [(ngModel)]="editPost.content.rendered.split('<')[1].split('>')[1]"></textarea>
      </mat-form-field>

      <mat-selection-list name="categories" [(ngModel)]="editPost.categories">
        <h3> Categories </h3>
        <mat-list-option *ngFor="let category of app.categories" [value]="category.id">
          {{ category.name }}
          <hr>
        </mat-list-option>
      </mat-selection-list> <br>

      <h3 *ngIf="app?.profileMedia?.length"> Featured Image </h3>

      <mat-form-field *ngIf="app?.profileMedia?.length" appeareance="outline">
        <mat-select name="featured_media" [(ngModel)]="editPost.featured_media" placeholder="No Media Yet">
          <mat-option *ngFor="let media of app.profileMedia" [value]="media.id">
            {{ media.title.rendered }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <hr>

      <mat-card-actions align="end" class="m-0 mt-3 p-0">
        <button mat-raised-button color="primary" type="submit"> Update Post </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
