<main class="container mt-3">
  <div class="row">

    <div class="col-md-4">

      <!-- USER PROFILE -->
      <mat-card class="mb-3 mat-typography">
        <ng-container *ngIf="user ; else loader">

          <mat-card-header>
            <img mat-card-avatar mat-card-md-image [src]="user.avatar_urls['96']" alt="">
            <mat-card-title> {{ user.name }} </mat-card-title>
            <mat-card-subtitle>{{ user.description }}</mat-card-subtitle>
          </mat-card-header>

          <mat-divider *ngIf="user && user.id === wpService.getID"></mat-divider>

          <mat-card-actions *ngIf="user && user.id === wpService.getID" align=" end">
            <button mat-raised-button color="primary" [routerLink]="['/profile/settings']"> Settings </button>
          </mat-card-actions>

        </ng-container>
      </mat-card>
      <!-- END USER PROFILE -->

    </div>

    <div class="col-md-8">

      <!-- CREATE POST -->
      <mat-card *ngIf="user && user.id === wpService.getID" class="mb-3 mat-typography">

        <!-- HEADER -->
        <mat-card-header>
          <mat-card-title>Create Post</mat-card-title>
        </mat-card-header>
        <!-- END HEADER -->

        <mat-divider></mat-divider>

        <!-- CONTENT -->
        <mat-card-content class="pt-3">

          <!-- POST FORM -->
          <form (ngSubmit)="onSubmitPost(createPost)" #createPost="ngForm">

            <div class="row">

              <!-- MAIN POST FORM -->
              <div class="col-md-8">

                <mat-form-field appearance="outline">
                  <mat-label> Title </mat-label>
                  <input matInput type="text" name="title" ngModel placeholder="Title">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <textarea matInput name="content" rows="10" ngModel placeholder="Type something here"></textarea>
                </mat-form-field>

              </div>
              <!-- END MAIN POST FORM -->

              <!-- POST OPTION -->
              <div class="col-md-4">

                <mat-selection-list name="categories" ngModel>
                  <h3> Categories </h3>
                  <mat-list-option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                    <mat-divider></mat-divider>
                  </mat-list-option>
                </mat-selection-list> <br>

                <h3> Featured Image </h3>

                <mat-form-field appeareance="outline">
                  <mat-select name="featured_media" ngModel>
                    <mat-option *ngFor="let media of medias" [value]="media.id">
                      {{ media.title.rendered }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <!-- END POST FORM -->

            </div>
            <mat-divider></mat-divider>

            <mat-card-actions align="end" class="m-0 mt-3 p-0">
              <button mat-raised-button color="primary" type="submit"> Create Post </button>
            </mat-card-actions>

          </form>
          <!-- END POST FORM -->

        </mat-card-content>
        <!-- END CONTENT -->

      </mat-card>
      <!-- END CREATE POST -->


      <!-- CATEGORIZED POSTS -->
      <mat-accordion>
        <mat-expansion-panel *ngFor="let category of categories" class="mb-3" (opened)="loadPosts(category.id)">

          <mat-expansion-panel-header>
            <mat-panel-title> {{ category.name }} </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>

          <ng-container *ngIf="posts ; else loader">

            <mat-list>
              <mat-list-item *ngFor="let post of posts">
                <img mat-list-avatar mat-card-sm-image *ngIf="post._embedded" [src]="post._embedded['wp:featuredmedia'][0].source_url"
                  alt="">
                <p matLine> {{ post.title.rendered }} </p>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>

          </ng-container>
          <mat-divider></mat-divider>


        </mat-expansion-panel>
      </mat-accordion>
      <!-- END CATEGORIES POSTS -->

    </div>


    <!-- LOADER -->
    <ng-template #loader>
      <mat-spinner class="m-auto"></mat-spinner>
    </ng-template>


  </div>
</main>
