<mat-accordion>
  <mat-expansion-panel *ngFor="let category of categories" class="mb-3" (opened)="loadPosts(category.id)">

    <mat-expansion-panel-header>
      <mat-panel-title> {{ category.name }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>

    <ng-container *ngIf="posts ; else loader">

      <mat-list>
        <mat-list-item *ngFor="let post of posts">
          <img mat-list-avatar mat-card-sm-image *ngIf="post._embedded" [src]="post._embedded['wp:featuredmedia'][0].source_url"
            alt="">
          <p matLine> {{ post.title.rendered }} </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

    </ng-container>
    <mat-divider></mat-divider>


  </mat-expansion-panel>
</mat-accordion>
