nav-component {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  mat-toolbar {
    height: 56px !important;
  }
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
}

mat-sidenav-container {
  overflow-y: auto;
}

mat-sidenav {
  width: 200px;
}

.spacer {
  flex: 1 1 auto;
}
