@import '~@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-purple);
$theme-accent: mat-palette($mat-deep-purple);

$theme: mat-dark-theme($theme-primary, $theme-accent);

@include angular-material-theme($theme);
