<main class="container h-75">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-4">
      <mat-card class="mat-typography">

        <mat-card-header>
          <mat-card-title>
            <h1>Login</h1>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <form (ngSubmit)="onSubmit(login)" #login="ngForm">

            <!-- username -->
            <mat-form-field>
              <mat-label>Username: </mat-label>
              <input matInput type="text" name="username" ngModel required>
              <mat-error>
                <sub>Please input username</sub>
              </mat-error>
            </mat-form-field>

            <!-- password -->
            <mat-form-field>
              <mat-label>Password: </mat-label>
              <input matInput type="password" name="password" ngModel required>
              <mat-error>
                <sub>Please input password</sub>
              </mat-error>
            </mat-form-field>

            <!-- login button -->
            <br>
            <button mat-raised-button color="primary" type="submit"> Login </button>

          </form>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</main>
