<header class="pt-5 mat-typography">
  <h1>Settings</h1>
  <sub>This should display top posts top page showcase video</sub>
</header>
<main class="pt-5 mat-typography">
  <div class="row">
    <div class="col-3 mb-5">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Settings</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-9 mb-5">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Options Title</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</main>
