<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button (click)="onMenuClicked()">
    <mat-icon> menu </mat-icon>
  </button>

  <!-- DESKTOP -->
  <button mat-button [routerLink]="['/']" class="d-none d-md-block"> Home </button>
  <button mat-button [routerLink]="['/forum']" class="d-none d-md-block"> Forum </button>
  <button mat-button [routerLink]="['/about']" class="d-none d-md-block"> About </button>

  <span class="spacer"></span>

  <!-- *IF !LOGGED-->
  <div *ngIf="!usersService.isLogged ; else authMenu">

    <button mat-button [routerLink]="['/register']" class="d-none d-md-inline-block"> Register </button>
    <button mat-button [routerLink]="['/login']" class="d-none d-md-inline-block"> Login </button>

    <button mat-icon-button [routerLink]="['/register']" class="d-md-none">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/login']" class="d-md-none">
      <mat-icon>fingerprint</mat-icon>
    </button>

  </div>

  <!-- *IF LOGGED -->
  <ng-template #authMenu>

    <button mat-button [routerLink]="['/profile']"> {{ usersService.getName }} </button>

    <button mat-icon-button [matMenuTriggerFor]="menus">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menus>
      <button mat-menu-item [routerLink]="['/profile/settings']"> Settings</button>
      <button mat-menu-item (click)="onLoggedOut()"> Logout </button>
    </mat-menu>

  </ng-template>

</mat-toolbar>
