#commentBox {
  display: flex !important;
  flex-direction: column;
  .mat-form-field-wrapper {
    padding: 0;
    .mat-form-field-infix {
      padding: 0.5em 0;
    }
  }
}
.del-btn > mat-icon {
  margin-left: 1em;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
