<main class="container">
  <div class="row">

    <div class="col-md-8">
      <!-- Show Post -->
      <mat-card class="my-3">

        <ng-container *ngIf="post; else loader">
          <mat-card-header *ngFor="let author of post._embedded.author">
            <img mat-card-avatar [src]="author.avatar_urls['96']" alt="" [routerLink]="['/profile', author.id]">
            <mat-card-title> {{ post.title.rendered }} </mat-card-title>
            <mat-card-subtitle>
              Posted by: {{ author.name }} Date: {{ post.date | date: 'mediumDate'}}
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="post._embedded['wp:featuredmedia'][0].source_url" alt="">
          <mat-card-content [innerHtml]="post.content.rendered"></mat-card-content>
        </ng-container>
        <mat-divider></mat-divider>

        <mat-card-actions class="m-0 p-0">
          <button mat-button> Comment </button>
        </mat-card-actions>
        <mat-divider></mat-divider>

        <mat-card-footer>
          <!-- Comment -->
          <app-comment [postID]="post.id"></app-comment>
        </mat-card-footer>

      </mat-card>
    </div>

  </div>
</main>

<ng-template #loader>
  <mat-spinner class="m-auto"></mat-spinner>
</ng-template>
